<%- include('../includes/head.ejs')%>
</head>
<body class="container-fluid">
  <%- include('../includes/navigation.ejs')%>
  <div class='container'>
    <h1>Create a meeting</h1>
    <form action="/meetings/create-meeting" method="POST">
      <div class="form-group">
          <label for="start">Starting time</label>
          <input type="time" name="start" id="start" class="form-control">
      </div>
      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="time" name="duration" id="duration" class="form-control">
      </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="textarea" name="description" id="description" class="form-control">
      </div>
     <button type="submit" class="btn btn-primary create-person-button">Create a Contact</button>
    </form>
  </div>
<%- include('../includes/end.ejs')%></br>