<nav>
  <a href="/persons">List of Persons</a>
  <a href="/persons/create-person">Create a Person</a>
  <a href="/meetings">List of meetings</a>
  <a href="/meetings/create-meeting">Create a Meeting</a>
</nav>