.navigation-bar {
  margin-bottom: 3rem;
}
.action-btn {
  margin-left: 1rem;
  margin-right:1rem;
}

.card-green {
  background: rgba(17, 207, 43, 0.2); 
  
}

.card-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.create-person-button {
  margin-top:1rem;
}

.margin-right {
  margin-right:1rem; 
}

@media only screen and (min-width: 1024px) {
  .custom-center {
    margin-left: 18rem;
    margin-right: 18rem;
  }
}

.meeting-cart-person a{
  color:white;
  text-decoration: none;
}

/* .meeting-cart-person .close-btn {
  position: absolute;
  bottom: 13px;
  left:10px;
  margin: 0;
  padding: 0;
} */

/* .meeting-details-card {
  margin-top:3rem;
} */