.navigation-bar {
  margin-bottom: 3rem;
}
.action-btn {
  margin-left: 1rem;
  margin-right:1rem;
}


.card-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.create-person-button {
  margin-top:1rem;
}

@media only screen and (min-width: 1024px) {
  .custom-center {
    margin-left: 18rem;
    margin-right: 18rem;
  }
}

/* .meeting-details-card {
  margin-top:3rem;
} */